# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\nihongo\CaseStudy3_Minh_Nghia2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
